@model Do_an.Data.WasteExchange

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WasteExchange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionPoint.CollectionPointId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExchangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
